In [40]:
import pandas as pd
import datetime
import time

def load_test():    
    dfs = []
    for e, chunk_file in enumerate(glob.glob('./test_parquet/*')):
        chunk = pd.read_parquet(chunk_file)
        chunk.ts = (chunk.ts/1000).astype('int64')
        chunk['type'] = chunk['type'].map(type_labels).astype('int8')
        dfs.append(chunk)
    return pd.concat(dfs).reset_index(drop=True).astype({"ts": "datetime64[ms]"})

test_df = load_test().groupby('session').agg(list).reset_index()
# print('Test data has shape',test_df.shape)
test_df.head()

,session,aid,ts,type
0,12899779,[59625],[1970-01-20 05:35:24],[0]
1,12899780,"[1142000, 582732, 973453, 736515, 1142000]","[1970-01-20 05:35:24, 1970-01-20 05:35:24.0580...","[0, 0, 0, 0, 0]"
2,12899781,"[141736, 199008, 57315, 194067, 199008, 199008...","[1970-01-20 05:35:24, 1970-01-20 05:35:24.0220...","[0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0]"
3,12899782,"[1669402, 1494780, 1494780, 1494780, 1494780, ...","[1970-01-20 05:35:24, 1970-01-20 05:35:24.1630...","[0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, ..."
4,12899783,"[255297, 1114789, 255297, 300127, 198385, 3001...","[1970-01-20 05:35:24, 1970-01-20 05:35:24.0040...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]"

In [23]:
import pandas as pd 
import numpy as np
import json
from tqdm import tqdm

records=[]

f=open('./input/test.jsonl', 'r').readlines()

for line in tqdm(f):
    obj = json.loads(line)
    session=obj['session'] 
    for event in obj['events']:
        aid = event['aid']
        type=event['type']
        record=[session,aid,type]
        records.append(record)

100%|██████████| 1671803/1671803 [00:21<00:00, 79595.90it/s]

In [41]:
df=pd.DataFrame(records, columns=['session','aid','type'])
df

          session      aid    type
0        12899779    59625  clicks
1        12899780  1142000  clicks
2        12899780   582732  clicks
3        12899780   973453  clicks
4        12899780   736515  clicks
...           ...      ...     ...
6928118  14571577  1141710  clicks
6928119  14571578   519105  clicks
6928120  14571579   739876  clicks
6928121  14571580   202353  clicks
6928122  14571581  1100210  clicks

[6928123 rows x 3 columns]